<footer class="site-footer">

  <div class="wrapper">

    <div class="row">
      <ul class="col-xs-12
                 col-sm-6
                 col-md-4">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>

      <ul class="social-media-list
                 col-xs-12
                 col-sm-6
                 col-md-4">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}

        {% if site.linkedin_username %}
        <li>
          {% include icon-linkedin.html username=site.linkedin_username %}
        </li>
        {% endif %}
      </ul>

      <div class="col-xs-12
                  col-sm-12
                  col-md-4">
        <p>I'm currently developing iOS apps at Zalando in Berlin.

          <a href="https://www.dropbox.com/sh/1k34ltcsculfd89/AADcmbTHrgT_42LuiwaPxFNta?dl=0" target="_blank">Resume</a></p>
      </div>
    </div>
    <p class="footer-meta"><small>
      © 2017 Vincent Williams
    </small></p>


  </div>

</footer>
