//
// Variables
// --------------------------------------------------

$franklin-gothic: franklin-gothic-urw, arial;
$futura-pt: futura-pt;

$base-font-family: franklin-gothic-urw, "Helvetica Neue", Helvetica, Arial, sans-serif;
$alt-font-family: futura-pt;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$default-border-bottom: 2px;

$default-border-radius: 4px;

$avatar-size: 200px;

$heading-font-weight: 400;

$spacing-unit:     30px;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
